@import "reset.css";

body {
  background-color: #2a2e30;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.clock {
  font-size: 120px;
  font-weight: 700;
  color: white;
}
.btn {
  cursor: pointer;
}

.clicked {
  color: orange;
}

.nameform,
.greetings {
  color: white;
  display: none;
}

input {
  border: none;
  padding: 15px 0px;
  font-size: 18px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  margin: 32px 0px 32px 0px;
  text-align: center;
  transition: all 0.3s ease-in-out;
  border-radius: 20px;
}

input:focus {
  border: 3px solid rgb(255, 185, 34);
}

.todoform {
  margin-bottom: 10px;
}

.greetings {
  font-size: 42px;
  margin: 32px 0px 62px 0px;
  font-weight: 700;
}

.showing {
  display: flex;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn 0.5s linear;
  opacity: 70%;
}

.todolist {
  margin: 0px 30px 30px 30px;
  display: flex;
}

.todolist li {
  background-color: rgba(255, 158, 47, 0.993);
  height: 40px;
  margin: 15px;
  color: black;
  padding: 10px;
  border-radius: 20px;
  display: flex;
  align-items: center;
}

.todolist li button {
  margin-right: 10px;
  width: 34px;
  height: 34px;
  border-radius: 50%;
}
